* {
    font-family: 'Inknut Antiqua', serif;
}

.backgroundOpacity {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.18;
    background-image: url("../images/floaties-flowers.gif");
    background-repeat: no-repeat;
    background-position: 20% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

h2 {
    font-size: 4em;
    line-height: 1.2em;
    font-weight: 300;
    letter-spacing: -2px;
    color: #275C8D;
}

.container {
    width: 90%;
    margin-top: 20px;
}

a {
    display: inline-block;
    position: relative;
    z-index: 1;
    padding: .1em;
    margin: -.1em;
}

a:link {
    color: #7fbf7f;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #ccb2e5;
    background-color: transparent;
    text-decoration: none;
    cursor: help;
}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}

@media only screen and (min-width: 551px) and (max-width: 750px){
    h2 {
        font-size: 3em;
        line-height: 1.2em;
    }
}

@media only screen and (max-width: 550px){
    h2 {
        font-size: 2em;
        line-height: 1.3em;
    }
}