* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

body {
    padding-bottom: 50px;
}

.container {
    max-width: 1200px;
    height: 100%;
}

.hr-rule {
    border: none;
    height: 2px;
    color: #89c0da;
    background-color: #89c0da;
    max-width: 100%;
}

img {
    transition: width 0.5s;
}

.row {
    padding: 0;
}

.imgage-container {
    padding: 0;
}

.imgage-container p {
    overflow: hidden;
}

.imgage-container img {
    max-width: 100%;
    padding: 5px;
}

.logo {
    width: 100px;
    padding: 0;
    margin-top: 15px;
    margin-bottom: 0px;
}

.hero {
    width: 100%;
}

h1 {
    font-size: 3em;
    color: #f4a39a;
    font-family: "Anton", sans-serif;
}

h2 {
    font-size: 1em;
    color: #f4a39a;
    line-height: 0em;
    font-family: "Playfair Display", serif;
}

h3 {
    font-family: "Playfair Display", serif;
    font-size: 1.8em;
    color: #f4a39a;
}

h4 {
    font-family: "Playfair Display", serif;
    font-size: 1.5em;
    color: #f4a39a;
}

p {
    font-size: 1em;
    color: #a9a9a9;
}

@media (max-width: 480px) {
    p {
        font-size: 0.6em;
    }
}

@media (min-width: 481px) and (max-width: 992px) {
    p {
        font-size: 0.8em;
    }
}