
.music {
    display: none;
}
.shape1, .shape2, .shape12, .shape4, .shape5, .shape6 {
    position: absolute;
    -webkit-animation-name: shapeset1; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
    animation-name: shapeset1;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.shape7, .shape8, .shape9, .shape10, .shape11, .shape3, .shape13 {
    position: absolute;
    -webkit-animation-name: shapeset2; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
    animation-name: shapeset2;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes shapeset1 {
    0%   {filter: hue-rotate(220deg);}
    20%  {filter: hue-rotate(60deg);}
    40%  {filter: hue-rotate(120deg);}
    60%  {filter: hue-rotate(30deg);}
    80%  {filter: hue-rotate(300deg);}
    100%  {filter: hue-rotate(10deg);}
}

@keyframes shapeset2 {
    0%  {filter: hue-rotate(10deg);}
    20%  {filter: hue-rotate(320deg);}
    40%   {filter: hue-rotate(50deg);}
    60%  {filter: hue-rotate(170deg);}
    80%  {filter: hue-rotate(90deg);}
    100%  {filter: hue-rotate(390deg);}
}

.shape1 {
    top: 1900px;
    right: 500px;
}
.shape2 {
    top: 500px;
    right: 60px;
}

.shape3 {
    top: 400px;
    right: 300px;
}

.shape4 {
    top: 150px;
    right: 10px;
}

.shape5 {
    top: 60px;
    left: 120px;
}

.shape6 {
    top: 900px;
    left: 20px;
}

.shape7 {
    top: 1000px;
    left: 900px;
}

.shape8 {
    top: 1700px;
    left: 150px;
}

.shape9 {
    top: 500px;
    left: 50px;
}

.shape10 {
    top: 1000px;
    left: 300px;
}

.shape11 {
    top: 700px;
    left: 550px;
}

.shape12 {
    top: 1200px;
    right: 200px;
}

.shape13 {
    top: 1500px;
    left: 800px;
}